In [1]:
#Libraries needed for this project
import numpy as np
import pandas as pd
from IPython.display import display, HTML

In [2]:
#Input Validation for Principal, annual rate , loan term and no of payments

class InputValidation:
    """
    This class validates the inputs (Principal, annual rate, term in years and number of payments per year)
    Principal(principal) : Validates if input Loan amount is a positive integer
    Annual Rate(annual_interest_rate) : Validates if the Annual rate is >0
    Term in Years(per): Validates if term is a positive finite integer
    No of Payments(nper):Validates if nper is a positive finite integer
    """
    def __init__(self,inputvar):
        self.inputvar = inputvar
    
    #Method for checking if the input variable is a positive integer value (Eg. Principal)
    def check_positive_integer(self):
        while True:
            try:
                tempvar = float(input(f"\nPlease Enter a positive integer value for {self.inputvar}:"))
                if tempvar.is_integer() and tempvar>0:
                    break 
                else:
                    print(f"\n{self.inputvar} should be a positive integer value!")
            except:
                print(f"\n{self.inputvar} is not a number!")
    
        return tempvar

    #Method for checking if the input variable is a positive value (Eg. Annual interest rate)
    def check_positive_float(self):
        while True:
            try:
                tempvar = float(input(f"\nPlease Enter a positive integer value for {self.inputvar}:"))
                if tempvar>0:
                    break
                else:
                    print(f"\n{self.inputvar} should be a positive value greater than 0!")
            except:
                print("\nNot a valid Option!! Try again..")
        return tempvar
        
    #Method for checking if the input variable is a finite term (Eg.Loan term and No. of payments per year)
    def finiteterm_check(self):
        while True:
            try:
                tempvar = float(input(f"\nPlease Enter a positive integer value for {self.inputvar}:"))
                if tempvar.is_integer() and tempvar>0 and tempvar<100:
                    break 
                else:
                    print(f"\n{self.inputvar} should be a positive integer value less than 100!")
            except:
                print(f"\n{self.inputvar} is not a number!")
    
        return tempvar

In [3]:
# Function to generate matrix of various term vs rate of interest
def generate_matrix(principal,paymentfreq,initial_rate,ratestep,period,periodstep):
    """
    This function generates the payment matrix at various rates and terms
    """
    # Generates a matrix of 6 x 9 matrix with payments at various 
    
    # Declaring Row iterator
    termrows = [i for i in range(period,period+30,periodstep)]
    
    # Declaring Column Iterator
    ratecolumn =[(round(j*100,3)) for j in np.arange(initial_rate,initial_rate+ 4.5/100,ratestep)]
    
    # Naming axis and index
    mymatrix = pd.DataFrame(columns =ratecolumn ,index=termrows).rename_axis('Annual rate',axis=1)    
    mymatrix['Period']=termrows
    mymatrix.set_index('Period',inplace=True)
    
    # Generating Payment matrix for generated list of period and rates
    for i in termrows:
        for j in ratecolumn:
            mymatrix.at[i,j] = -np.pmt(float(j/100)/paymentfreq,i*paymentfreq,principal)
    
    return (mymatrix)

In [4]:
def generate_payment_schedule(principal,annual_interest_rate,per,nper):
    """
    This function generates the amortization schedule
    """
    # Declaration of Variables
    periodic_interest_rate = annual_interest_rate/nper
    no_of_payments = nper*per
    
    # Defining the Structure of DataFrame
    columnnames =['Period','Opening Balance','Payment','Interest Expense','Repayment of Principal','Closing Balance']

    # Filling Static Columns & Index
    period=[i for i in range(1,no_of_payments+1)]
    
    # Formatting the DataFrame
    pd.options.display.float_format = '${:,.2f}'.format
 
    # Initialization of the DataFrame
    mymatrix = pd.DataFrame(columns =columnnames,index=period)
    
    # Calculations 
    mymatrix.at[1,'Opening Balance']=principal
    mymatrix['Period']=period
    mymatrix.set_index('Period',inplace=True)
    mymatrix['Payment']=-np.pmt(periodic_interest_rate,no_of_payments,principal)
    mymatrix['Interest Expense']=-np.ipmt(periodic_interest_rate,mymatrix.index, no_of_payments,principal)
    mymatrix['Repayment of Principal']= -np.ppmt(periodic_interest_rate,mymatrix.index,no_of_payments,principal)
    

    #Calculation of dynamic part of Amortization Schedule
    for i in period:
        if i>1:
            mymatrix['Closing Balance']= mymatrix['Opening Balance']-mymatrix['Repayment of Principal']
            mymatrix.at[i,'Opening Balance']=mymatrix.at[i-1,'Closing Balance']
        if mymatrix.at[i,'Opening Balance']-mymatrix.at[i,'Repayment of Principal']<0.1:
            mymatrix.at[i,'Closing Balance']=0


    mymatrix.at[1,'Opening Balance']="$"+str(principal)
    return (mymatrix)

In [5]:
def generate_summary(principal,initial_rate,per,nper):
    """
    This function generates summary for amortization schedule
    """
    mysum = generate_payment_schedule(principal,initial_rate,per,nper)
    total_interest = mysum["Interest Expense"].sum().round(2)
    pmt = -np.pmt(initial_rate/nper,per*nper,principal)
    total=total_interest+principal
    mymatrix = pd.DataFrame([pmt,total_interest,total],columns=[""],index=["Payment per period","Total Interest","Total Payments"])
    return mymatrix

In [6]:
def amortization_table():
    """ Calculate the loan amortization schedule given the loan details

     Arguments:
        annual_interest_rate: The annual interest rate for this loan
        per: Number of years for the loan
        nper: Number of payments in a year
        principal: Amount borrowed

    Returns:
        matrix : Returns a 6 x 9 matrix of payments at various rates and term
        schedule: Amortization schedule as a pandas dataframe
        summary: Pandas dataframe that summarizes the payoff information
    """
    # Taking User Input     
    principalval = InputValidation("Principal")
    principal= principalval.check_positive_integer()

    rateval = InputValidation("Annual Interest Rate")
    annual_interest_rate=rateval.check_positive_float()/100
    
    pervalidation = InputValidation("Loan Term in years")
    per = int(pervalidation.finiteterm_check())

    npervalidation = InputValidation("No of Payments per year")
    nper = int(npervalidation.finiteterm_check())
    
    # Formatting the DataFrame
    pd.options.display.float_format = '${:,.2f}'.format
    

    # Payment at various rates vs term
    matrix = generate_matrix(principal,nper,annual_interest_rate,0.005,per,5)

    # Amortization Schedule
    schedule = generate_payment_schedule(principal,annual_interest_rate,per,nper)
    summary= generate_summary(principal,annual_interest_rate,per,nper)
    
    print("\n               \033[1m   Payments at various rate vs term \033[1m ")
    display(matrix)
    
    print("\n \033[1m Based on the information you entered, your payment is ${} for {} years with a rate of {}%\033[1m".format(summary.at["Payment per period",""].round(2),per,annual_interest_rate*100))

    print("  \n                      \033[1m Payment Schedule\033[1m ")
    display(schedule)
    print("  \n   \033[1m Payment Summary\033[1m ")
    display(summary)

In [8]:
amortization_table()

Please Enter a positive integer value for Principal:120000

Please Enter a positive integer value for Annual Interest Rate:4

Please Enter a positive integer value for Loan Term in years:12

Please Enter a positive integer value for No of Payments per year:13

                  Payments at various rate vs term

Annual rate,$4.00,$4.50,$5.00,$5.50,$6.00,$6.50,$7.00,$7.50,$8.00
Period,,,,,,,,,
12,$969.72,$996.82,"$1,024.37","$1,052.37","$1,080.80","$1,109.67","$1,138.97","$1,168.69","$1,198.84"
17,$749.17,$777.80,$807.04,$836.89,$867.34,$898.37,$929.98,$962.15,$994.87
22,$631.53,$661.66,$692.56,$724.20,$756.57,$789.64,$823.41,$857.84,$892.91
27,$559.58,$591.15,$623.63,$656.96,$691.13,$726.10,$761.83,$798.29,$835.45
32,$511.81,$544.78,$578.74,$613.66,$649.49,$686.17,$723.66,$761.90,$800.86
37,$478.37,$512.65,$548.01,$584.39,$621.72,$659.93,$698.96,$738.74,$779.21

  Based on the information you entered, your payment is $969.72 for 12 years with a rate of 4.0%

                       Payment Schedule

,Opening Balance,Payment,Interest Expense,Repayment of Principal,Closing Balance
Period,,,,,
1,$120000.0,$969.72,$369.23,$600.49,"$119,399.51"
2,"$119,399.51",$969.72,$367.38,$602.34,"$118,797.18"
3,"$118,797.18",$969.72,$365.53,$604.19,"$118,192.99"
4,"$118,192.99",$969.72,$363.67,$606.05,"$117,586.94"
5,"$117,586.94",$969.72,$361.81,$607.91,"$116,979.02"
...,...,...,...,...,...
152,"$4,804.16",$969.72,$14.78,$954.94,"$3,849.22"
153,"$3,849.22",$969.72,$11.84,$957.88,"$2,891.35"
154,"$2,891.35",$969.72,$8.90,$960.82,"$1,930.52"
155,"$1,930.52",$969.72,$5.94,$963.78,$966.74
156,$966.74,$969.72,$2.97,$966.74,0

    Payment Summary

Payment per period     $969.72
Total Interest      $31,276.22
Total Payments     $151,276.22